# Server
BASE_URL=http://<host>:<port>
PORT=<port>

# Database
MONGO_URI=mongodb://<host>:<port>/<database>

# Auth
JWT_SECRET=<secret>

# WebRTC
STUN_URL=<stun_url>
TURN_URL=<turn_url>
TURN_SECRET=<turn_secret>

# JMeter
JMETER_NUM_CLASSES=<number_of_classes>
JMETER_STUDENTS_PER_CLASS=<number_of_students_per_class>